In [3]:
import pandas as pd
pd.set_option('display.max_columns', None) #gatau meaningnya apa ini

## No 1
Tampilkan statistik deskriptif 
pada variabel Rooms, 
Distance, Landsize, dan Price!

In [4]:
df=pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df.describe()[['Rooms','Distance','Landsize','Price']]

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

## No 2
a) Berapa jumlah Rooms pada rumah yang harganya paling mahal?

b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel Distance) terdekat?

c) Berapa rata-rata harga rumah yang luas tanahnya (variabel Landsize) 1 kali standar 
deviasi di atas rata-rata luas tanah?

d) Berapa rentang (range) harga rumah (variabel Price) pada region Southern 
Metropolitan?

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

a)

In [53]:
df.sort_values('Price',ascending=False).head(1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12094,Mulgrave,35 Bevis St,3,h,9000000.0,PI,Hall,29/07/2017,18.8,3170.0,3.0,1.0,1.0,744.0,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113.0

b)

In [54]:
df.std()

Rooms                 0.955748
Price            639310.724296
Distance              5.868725
Postcode             90.676964
Bedroom2              0.965921
Bathroom              0.691712
Car                   0.962634
Landsize           3990.669241
BuildingArea        541.014538
YearBuilt            37.273762
Lattitude             0.079260
Longtitude            0.103916
Propertycount      4378.581772
dtype: float64

In [55]:
q1=df['Distance'].quantile(.25)
q2=df['Distance'].quantile(.50)
q3=df['Distance'].quantile(.75)
iqr=q3-q1

print('IQR: ',iqr)

IQR:  6.9

In [56]:
lower1=q1-1.5*iqr 
upper1=q3+1.5*iqr 

print('jumlah outlier:',(df['Distance']<lower1).sum()+(df['Distance']>upper1).sum())

jumlah outlier: 411

In [57]:
q1

6.1

In [58]:
print('jumlah outlier:',(df['Distance']<lower1).sum())

jumlah outlier: 0

c)

d)

## No 3
Nilai outlier adalah nilai yang berada di bawah Q1 - (1.5 * IQR) atau di atas  Q3 + (1.5 * IQR).

a) Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)

b) Hitung ada berapa nilai outlier pada kolom Price!

a)

In [11]:
Q1=df['Price'].quantile(.25)
Q2=df['Price'].quantile(.50)
Q3=df['Price'].quantile(.75)

print('Q1: \n',Q1)
print('Q1: \n',Q2)
print('Q1: \n',Q3)

Q1:
 650000.0
Q1:
 903000.0
Q1:
 1330000.0

In [12]:
IQR=Q3-Q1
print('IQR: ',IQR)

IQR:  680000.0

b)

In [26]:
lower=Q1-1.5*IQR 
upper=Q3+1.5*IQR 
print('jumlah outlier:', (df['Price']<lower).sum()+(df['Price']>upper).sum())

jumlah outlier: 612

## NO 4
Lakukan uji asumsi normalitas pada variabel harga rumah (Price) menggunakan:

a) Shapiro Wilk Test

b) D’Agostino and Pearson’s Test

a)

In [27]:
from scipy.stats import shapiro

shapiro(df['Price'])

C:\Users\Lenovo\anaconda3\lib\site-packages\scipy\stats\morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.8328601717948914, pvalue=0.0)

b)

In [46]:
from scipy.stats import normaltest
normaltest(df['Price'])

NormaltestResult(statistic=6894.345896172315, pvalue=0.0)

## No 5
Jika diasumsikan telah memenuhi syarat statistik parametrik, hitung seberapa 
kuat korelasi variabel Rooms dengan Price, serta arah korelasinya!

In [50]:
df[['Rooms','Price']].corr(method='pearson')

          Rooms     Price
Rooms  1.000000  0.496634
Price  0.496634  1.000000

Conclusion:
Hubungan antara Rooms dan Price berkorelasi positif sedang.

## No 6
a) Dari beberapa Regionname, manakah Regionname yang variabel jumlah 
kamarnya (Rooms) memiliki korelasi terkuat dengan variabel harga rumah 
(Price)!
b) Diasumsikan telah memenuhi syarat statistik parametrik.

In [36]:
df.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0

In [64]:
dfroom=df.groupby('Regionname')[['Rooms','Price']].corr(method='pearson')
dfroom

                                     Rooms     Price
Regionname
Eastern Metropolitan       Rooms  1.000000  0.502993
                           Price  0.502993  1.000000
Eastern Victoria           Rooms  1.000000  0.314423
                           Price  0.314423  1.000000
Northern Metropolitan      Rooms  1.000000  0.392813
                           Price  0.392813  1.000000
Northern Victoria          Rooms  1.000000  0.361144
                           Price  0.361144  1.000000
South-Eastern Metropolitan Rooms  1.000000  0.267799
                           Price  0.267799  1.000000
Southern Metropolitan      Rooms  1.000000  0.683744
                           Price  0.683744  1.000000
Western Metropolitan       Rooms  1.000000  0.476030
                           Price  0.476030  1.000000
Western Victoria           Rooms  1.000000  0.551887
                           Price  0.551887  1.000000

In [63]:
dfroom.sort_values('Rooms', ascending=False)

                                     Rooms     Price
Regionname
Eastern Metropolitan       Rooms  1.000000  0.502993
Eastern Victoria           Rooms  1.000000  0.314423
Northern Metropolitan      Rooms  1.000000  0.392813
Northern Victoria          Rooms  1.000000  0.361144
South-Eastern Metropolitan Rooms  1.000000  0.267799
Southern Metropolitan      Rooms  1.000000  0.683744
Western Metropolitan       Rooms  1.000000  0.476030
Western Victoria           Rooms  1.000000  0.551887
Southern Metropolitan      Price  0.683744  1.000000
Western Victoria           Price  0.551887  1.000000
Eastern Metropolitan       Price  0.502993  1.000000
Western Metropolitan       Price  0.476030  1.000000
Northern Metropolitan      Price  0.392813  1.000000
Northern Victoria          Price  0.361144  1.000000
Eastern Victoria           Price  0.314423  1.000000
South-Eastern Metropolitan Price  0.267799  1.000000

In [67]:
dfroom.loc['Southern Metropolitan']

          Rooms     Price
Rooms  1.000000  0.683744
Price  0.683744  1.000000

## No 7
Jika diasumsikan tidak memenuhi syarat statistik parametrik, hitung seberapa 
kuat korelasi variabel Distance dengan Price, serta arah korelasinya

In [40]:
df[['Distance','Price']].corr(method='spearman')

          Distance    Price
Distance   1.00000 -0.12999
Price     -0.12999  1.00000

Conclusion: 
Hubungan antara Distance dan Price memiliki korelasi negatif lemah

## No 8
a) Dari beberapa Regionname manakah Regionname yang variabel jumlah jarak ke CBD 
(Distance) paling tidak berkorelasi dengan variabel harga rumah (Price)! 

b) Serta tampilkan juga Regionname yang paling berkorelasi kedua variabel ini!

c) Diasumsikan telah memenuhi syarat statistik parametrik.

a)

In [12]:
dfcorr= df.groupby('Regionname')[['Distance','Price']].corr(method='pearson')
dfcorr

                                     Distance     Price
Regionname
Eastern Metropolitan       Distance  1.000000 -0.124356
                           Price    -0.124356  1.000000
Eastern Victoria           Distance  1.000000 -0.345699
                           Price    -0.345699  1.000000
Northern Metropolitan      Distance  1.000000 -0.368552
                           Price    -0.368552  1.000000
Northern Victoria          Distance  1.000000  0.089566
                           Price     0.089566  1.000000
South-Eastern Metropolitan Distance  1.000000 -0.285564
                           Price    -0.285564  1.000000
Southern Metropolitan      Distance  1.000000  0.002489
                           Price     0.002489  1.000000
Western Metropolitan       Distance  1.000000 -0.334086
                           Price    -0.334086  1.000000
Western Victoria           Distance  1.000000 -0.046064
                           Price    -0.046064  1.000000

In [35]:
dfcorr.head(1)

                               Distance     Price
Regionname
Eastern Metropolitan Distance       1.0 -0.124356

b)

In [34]:
dfcorr.sort_values('Distance',ascending=False)

                                     Distance     Price
Regionname
Eastern Metropolitan       Distance  1.000000 -0.124356
Eastern Victoria           Distance  1.000000 -0.345699
Northern Metropolitan      Distance  1.000000 -0.368552
Northern Victoria          Distance  1.000000  0.089566
South-Eastern Metropolitan Distance  1.000000 -0.285564
Southern Metropolitan      Distance  1.000000  0.002489
Western Metropolitan       Distance  1.000000 -0.334086
Western Victoria           Distance  1.000000 -0.046064
Northern Victoria          Price     0.089566  1.000000
Southern Metropolitan      Price     0.002489  1.000000
Western Victoria           Price    -0.046064  1.000000
Eastern Metropolitan       Price    -0.124356  1.000000
South-Eastern Metropolitan Price    -0.285564  1.000000
Western Metropolitan       Price    -0.334086  1.000000
Eastern Victoria           Price    -0.345699  1.000000
Northern Metropolitan      Price    -0.368552  1.000000

In [50]:
dfcorr.loc['Northern Victoria']

          Distance     Price
Distance  1.000000  0.089566
Price     0.089566  1.000000

## No 9 
Uji hipotesis apakah metode pembelian/Method berkaitan dengan tipe 
rumah/ Type (dependen) atau tidak saling berkaitan (independen)!

Hypothesis:

• Ho : The two variables are independent

• Ha : The two variables are dependent.

## No 10
Uji hipotesis apakah rata-rata harga rumah (Price) antar Regionname berbeda 
ataukah sama! Diasumsikan persyaratan statistik parametrik terpenuhi

Hipotesis:

• Ho : μ1 = μ2 = … = μk (Rata-rata harga rumah antar Regionname sama)

• Ha : Setidaknya ada satu pasang Regionname yang rata-rata harga 
rumahnya tidak sama, tapi kita tidak tahu yang mana

In [76]:
dfgrup=df.groupby('Regionname')[['Price','Regionname']]
dfgrup